<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Pedido de Aprovisionamiento</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/index">Menú Principal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/pedidoaprovisionamiento/index">Lista de Pedidos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>Agregar/Editar Pedido de Aprovisionamiento</h1>
        <form action="/pedidoaprovisionamiento/guardar" method="post">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" th:value="${pedido.nombre}" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" th:value="${pedido.descripcion}" required>
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad:</label>
                <input type="number" class="form-control" id="cantidad" name="cantidad" th:value="${pedido.cantidad}" required>
            </div>
            <div class="form-group">
                <label for="fechaPedido">Fecha Pedido:</label>
                <input type="date" class="form-control" id="fechaPedido" name="fechaPedido" th:value="${pedido.fechaPedido}" required>
            </div>
			<div class="form-group">
			               <label for="loteStock">Lote de Stock:</label>
			               <select class="form-control" id="loteStock" name="loteStock" required>
			                   <option th:each="lote : ${lotes}" th:value="${lote.idLote}" th:text="${lote.nombre}"></option>
			               </select>
			           </div>
            <input type="hidden" name="idPedido" th:value="${pedido.idPedido}">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
