<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pedidos de Aprovisionamiento</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/index">Menú Principal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/pedidoaprovisionamiento/form">Agregar Pedido</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>Lista de Pedidos de Aprovisionamiento</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Fecha Pedido</th>
					<th>Lote Stock</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pedido : ${pedidos}">
                    <td th:text="${pedido.nombre}">Nombre</td>
                    <td th:text="${pedido.descripcion}">Descripción</td>
                    <td th:text="${pedido.cantidad}">Cantidad</td>
                    <td th:text="${pedido.fechaPedido}">Fecha Pedido</td>
					<td th:text="${pedido.loteStock.nombre}">Lote de Stock</td> 
                    <td>
                        <a th:href="@{/pedidoaprovisionamiento/editar/{id}(id=${pedido.idPedido})}" class="btn btn-warning btn-sm">Modificar</a>
                        <a th:href="@{/pedidoaprovisionamiento/eliminar/{id}(id=${pedido.idPedido})}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
