<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Informe de Producto</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/index">Menú Principal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/informe/index">Lista de Informes</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>Agregar/Editar Informe de Producto</h1>
        <form action="/informe/guardar" method="post">
            <div class="form-group">
                <label for="detalle">Detalle:</label>
                <input type="text" class="form-control" id="detalle" name="detalle" th:value="${informe.detalle}" required>
            </div>
            <div class="form-group">
                <label for="responsable">Responsable:</label>
                <input type="text" class="form-control" id="responsable" name="responsable" th:value="${informe.responsable}" required>
            </div>
            <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" id="fecha" name="fecha" th:value="${informe.fecha}" required>
            </div>
			<div class="form-group">
						               <label for="loteStock">Lote de Stock:</label>
						               <select class="form-control" id="loteStock" name="loteStock" required>
						                   <option th:each="lote : ${lotes}" th:value="${lote.idLote}" th:text="${lote.nombre}"></option>
						               </select>
						           </div>
            <input type="hidden" name="idInforme" th:value="${informe.idInforme}">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
