<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>UNLa - Logout</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/modern-business.css" rel="stylesheet" />
</head>
<body>
    <!-- Page Content -->
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-5">Logout</h1>
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
            <div th:if="${logoutMessage != null}" class="alert alert-success">
                You have been logged out successfully.
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
